.vs-blog-layout4{
   .vs-blog{
      background-color: $white-color;
   }
   .blog-img{
      border-radius: 50px;
      margin-bottom: 25px;
   }
   .blog-category {
      position: absolute;
      top: 20px;
      left: 40px;
      a{
         &:hover{
            background-color: #B80011;
            color: $white-color;
         }
      }
   }
  .blog-title{
     margin-bottom: 20px;
     a{
      color: $black-color;
     }
  }
  .blog-meta{
   span{
      color: $secondary-color;
      font-size: 16px;
      font-weight: 500;
   }
  }
  .link-btn {
   border-bottom: 1px solid $secondary-color;
   color: $secondary-color;
   cursor: pointer;
   &:hover{
      color: #B80011;
      border-color: #B80011;
   }
  }
  .slick-arrow {
   font-size: 20px;
   width: 68px;
   height: 68px;
   line-height: 68px;
   background-color: var(--secondary-color);
   border-radius: 50%;
   color: #ffffff;
   cursor: pointer;
   &:hover{
         background-color: #B80011;
         color: $white-color;
      }
  }
  .slick-next.slick-arrow {
      right: -7%;
   }
  .slick-prev.slick-arrow {
      left: -7%;
   }
   .section-title {
      margin-bottom: 40px;
  }
  .vs-blog {
      margin-bottom: 0px;
   }
}
@include md{
   .vs-blog-layout4 {
      .slick-track{
         padding-bottom: 0;
      }
   }
}